In [1]:
from neo4j import GraphDatabase, basic_auth
graphdb=GraphDatabase.driver(uri="bolt://localhost:7687",auth=basic_auth("neo4j","9luoofrq"),encrypted = False)
session=graphdb.session()

In [12]:
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)
for i in result:
    print(i)

In [13]:
q1='''Match (n) Return (n)'''
result=session.run(q1)
for i in result:
    print(i)

In [14]:
q1='''create (A:Player{name:"Messi",Plays_for:"Argentina"}),(B:Player{name:"Ronaldo",Plays_for:"Brazil"}),(C:Player{name:"Bebeto",Plays_for:"France"})
            '''
session.run(q1)

In [15]:
q1='''Match(A:Player)
      Merge (B:Country{name:A.Plays_for})
            '''
session.run(q1)

In [22]:
q1='''Match (n) Return (n)'''
result=session.run(q1)
for i in result:
    print(i)

<Record n=<Node id=0 labels={'Country'} properties={'name': 'Argentina'}>>
<Record n=<Node id=2 labels={'Player'} properties={'creation_time': 1586106588496, 'name': 'Messi'}>>
<Record n=<Node id=3 labels={'Player'} properties={'Plays_for': 'Brazil', 'name': 'Ronaldo'}>>
<Record n=<Node id=4 labels={'Player'} properties={'Plays_for': 'France', 'name': 'Bebeto'}>>
<Record n=<Node id=5 labels={'Country'} properties={'name': 'Brazil'}>>
<Record n=<Node id=6 labels={'Country'} properties={'name': 'France'}>>

In [24]:
# Merge on create set
q1='''Merge (A:Player{name:"Messi"})
      on create set A.creation_time=timestamp()
      return A.creation_time
            '''
result=session.run(q1)

In [29]:
q1='''Match (n) Return (n)'''
result=session.run(q1)
for i in result:
    print(i)

In [23]:
q1='''match (n:Player{name:"Messi"}) delete (n)'''
result=session.run(q1)

In [26]:
# Merge on match set
q1='''Merge (A:Player{name:"Messi"})
      on match set A.country="Argentina"
      return A.country
            '''
result=session.run(q1)
result

In [28]:
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)
for i in result:
    print(i)

In [32]:
# Merge  on create and on match set together
q1='''Merge (A:Player{name:"Messi"})
      on create set A.country="Argentina"
      on match set A.club="Bercilona"
      return A.country,A.club
            '''
result=session.run(q1)
for i in result:
    print(i)

<Record A.country='Argentina' A.club='Bercilona'>

In [37]:
# merge relationship
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)
for i in result:
    print(i)
q1='''create (A:Player{name:"Messi"}),(B:Country{name:"Argentina"})'''
session.run(q1)
q1='''match (A:Player{name:"Messi"}),(B:Country{name:"Argentina"})
      merge (A)-[C:plays_for]->(B)
      return A,type(C),B'''
result=session.run(q1)
for i in result:
    print(i)

<Record A=<Node id=4 labels={'Player'} properties={'name': 'Messi'}> type(C)='plays_for' B=<Node id=5 labels={'Country'} properties={'name': 'Argentina'}>>

In [38]:
# merge relationship
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)
for i in result:
    print(i)
q1='''create (A:Player{name:"Messi"}),(B:Country{name:"Argentina"})'''
session.run(q1)
q1='''match (A:Player{name:"Messi"}),(B:Country{name:"Argentina"})
      merge (C:Club{name:"Bercilona"})<-[r2:plays_for]-(A)-[r1:lives]->(B)
      return A,B,C'''
result=session.run(q1)
for i in result:
    print(i)

<Record A=<Node id=6 labels={'Player'} properties={'name': 'Messi'}> B=<Node id=0 labels={'Country'} properties={'name': 'Argentina'}> C=<Node id=2 labels={'Club'} properties={'name': 'Bercilona'}>>

In [51]:
#distinct operator
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''create (A:Player{name:"Messi"}),(B:Player{name:"Surarez"}),(C:Player{name:"Ronaldu"})'''
result=session.run(q1)

q1='''create (A:team{name:"Bercilona"}),(B:team{name:"Juvintas"})'''
result=session.run(q1)

q1='''match (A:Player{name:"Messi"}),(B:team{name:"Bercilona"}) 
      create (A)-[R:plays]->(B)
      '''
result=session.run(q1)
q1='''match (A:Player{name:"Surarez"}),(B:team{name:"Bercilona"}) 
      create (A)-[R:plays]->(B)
      '''
result=session.run(q1)
q1='''match (A:Player{name:"Ronaldu"}),(B:team{name:"Juvintas"}) 
      create (A)-[R:plays]->(B)
      '''
result=session.run(q1)

q1='''match (A:Player)
      with [(A)-[R:plays]->(B) where B:team|B.name] as teams
      return distinct(teams) as team_name
      '''
result=session.run(q1)
for i in result:
    print(i)

<Record team_name=['Bercilona']>
<Record team_name=['Juvintas']>

In [57]:
# Average  and collect operator
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''create (A:Player{name:"Messi",age:31}),(B:Player{name:"Surarez",age:31}),(C:Player{name:"Ronaldu",age:33}),
      (D:Player{name:"Nymer",age:26})'''
result=session.run(q1)

q1='''match (A:Player)
      return AVG(A.age) as Average_Age
      '''
result=session.run(q1)
for i in result:
    print(i)
    
q1='''match (A:Player)
      return collect(A.age) as Age_list
      '''
result=session.run(q1)
for i in result:
    print(i)

q1='''match (A:Player)
      return Max(A.age) as Max_Age
      '''
result=session.run(q1)
for i in result:
    print(i)

q1='''match (A:Player)
      return Min(A.age) as Min_Age
      '''
result=session.run(q1)
for i in result:
    print(i)

q1='''match (A:Player)
      return Sum(A.age) as Total_Age
      '''
result=session.run(q1)
for i in result:
    print(i)
    
q1='''match (A:Player)
      return keys(A) as properties
      '''
result=session.run(q1)
for i in result:
    print(i)

<Record Average_Age=30.25>
<Record Age_list=[33, 26, 31, 31]>
<Record Max_Age=33>
<Record Min_Age=26>
<Record Total_Age=121>
<Record properties=['name', 'age']>
<Record properties=['name', 'age']>
<Record properties=['name', 'age']>
<Record properties=['name', 'age']>

In [60]:
# delete with limit
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)
q1='''foreach (i in range(1,10) | create (N:Shirts))'''
result=session.run(q1)
for i in result:
    print(i)
q1='''match (N:Shirts)
      with (N) limit 2
      delete (N)'''
result=session.run(q1)

In [63]:
#use case for update 
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''foreach (i in range(1,10) | create (N:Shirts))'''
result=session.run(q1)

q1='''foreach (i in range(1,10) | create (N:TiShirts))'''
result=session.run(q1)

q1='''foreach (i in range(1,10) | create (N:Jeans))'''
result=session.run(q1)

In [66]:
# set labels 
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''create (n{name:"Roni"}) return (n) '''
result=session.run(q1)

q1='''match (n{name:"Roni"}) 
      set n:employee
      return n.name,labels(n) '''
result=session.run(q1)
print(list(result))

[<Record n.name='Roni' labels(n)=['employee']>]

In [68]:
# delete relationship
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''create (A:Employee{name:"Roni"}),(B:Employee{name:"Moni"}),(C:Employee{name:"Toni"}),
      (A)-[:brother]->(B)-[:brother]->(C)'''
result=session.run(q1)

q1='''match (A:Employee{name:"Roni"})-[R:brother]->(B:Employee{name:"Moni"})
     delete (R)'''
result=session.run(q1)

In [74]:
# finding path
q1='''Match (n) Detach Delete (n)'''
result=session.run(q1)

q1='''create (A:Employee{name:"Roni"}),(B:Employee{name:"Moni"}),(C:Employee{name:"Toni"}),(D:Employee{name:"Soni"}),
      (A)-[:knows]->(B)-[:knows]->(C),
      (A)-[:knows]->(D)'''
session.run(q1)

q1='''match path=(A:Employee)-[*1..2]->(B:Employee)
      where A.name="Roni" and B.name="Toni"
      return nodes(path)'''
result=session.run(q1)
print(list(result))

[<Record nodes(path)=[<Node id=12 labels={'Employee'} properties={'name': 'Roni'}>, <Node id=19 labels={'Employee'} properties={'name': 'Moni'}>, <Node id=20 labels={'Employee'} properties={'name': 'Toni'}>]>]